.totale{
    display: flex;
   width: 700px;
    justify-content: center;
    gap: 50px;
}
h2{
    color: #75b90f;
}
main{
    display: flex;
    gap: 50px;

}
.what{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.what p{
    color: white;
}
.what p a{
    text-decoration: none;
    color: white;
}